<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The English discussion portal Istanbul brings together students who are interested in improving their English language through discussing different topics. On a particular day, a discussion is arranged and those interested register for the discussion.
  
</p>
  

