<div class="center jumbotron">
  <h1>English Discussion Portal Istanbul</h1>

  <h2>
    Welcome to the English discussion portal. Feel free to register for our upcoming discussions. Come meet up with people who are trying to achieve the same goal i.e speak English like natives.
  </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
  


