<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attendant, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form_control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form_control' %>

      <%= f.label :gender %>
      <%= f.text_field :gender, class: 'form_control' %>

      <%= f.label :english_level %>
      <%= f.text_field :english_level, class: 'form_control' %>

      <%= f.label :joining_reason %>
      <%= f.text_area :joining_reason, class: 'form_control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form_control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form_control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form_control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>