<% provide(:title, @attendant.first_name + " " + @attendant.last_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="attendant_info">
<h1>
  <%= gravatar_for @attendant %>
  <%= @attendant.first_name %>
</h1>
