<footer class="footer">
  <small><em>
    All rights reserved to English Discussion Portal - Frank Atukunda</em></small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
